
<div class="container-fluid">
    <div class="row">
           <button [routerLink]="['/signup']">signup</button>
    <div class="container">
    <div class="row">
      <div class="col-md-4">
  
      </div>
      <div class="col-md-4 form">
          <form #createform="ngForm" class="cards">
              <div class="form-group">
                <label for="inputAddress">Email</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="email" #emailfield="ngModel"  id="inputAddress" placeholder="Email" required>
                <div class="alert alert-danger" [hidden]="emailfield.valid || emailfield.pristine">please fill the email field</div>
              </div>
              <div class="form-group">
                <label for="inputAddress2">Password</label>
                <input type="password" class="form-control" id="my-input" name="password" [(ngModel)]="password" #passwordfield="ngModel" id="inputAddress2" placeholder="password" required>
        
                <div  class="alert alert-danger" [hidden]="passwordfield.valid || passwordfield.pristine">please fill the password field</div>
              </div>
              <p class="loader" *ngIf="signinloader==false"></p>
              <button  type="submit" (click)="signin()" [disabled]="!createform.valid" class="btn btn-secondary">Signin</button>
                  <div>
                    <hr>
                  </div>
                  
                 
            </form>
            
      </div>
  
      <div class="col-md-4">
        
      </div>
    </div>
  </div>
  </div>
  